@model Pos_System.ViewModel.SubViewModel2

<h1>Right View</h1>

@foreach (var x in Model.Categories)
{
    <p>@x.CategoryName</p>
}


<div class="col-md-12">
    <input class="col-md-10" type="text"/>
    <button id="b1" type="submit" value="Search"> Search </button>
</div>

<!--Partial View for Products-->
@*@{Html.RenderAction("RightViewProducts", Model.Products)}*@






