@model IEnumerable<Pos_System.Models.Product>


<p>Products</p>


<div id="pcontainer">
    @foreach (var item in Model)
    {

        <!--Going to use FlexBox-->
        <div class="fbox @item.ProductId" draggable="true">
            <input type="hidden" value="@item.ProductId" />
            <div class="imgBox">
                <img src="~/Content/Images/computer.jpg" />

            </div>
            <div id="ProductItem_@item.ProductId" class="ProductItem" >
                @Html.DisplayFor(x => item.Name)
            </div>
            <div id="hover_@item.ProductId" class="ProductItem howerInfo" style="display:none">
                @Html.DisplayFor(x => item.UnitPrice)
            </div>
        </div>
    }
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>


    $(document).ready(function () {
      
       

        $(".fbox").on("mouseover", function () {
            $(this).find(".howerInfo").show();

        });

        //Draggable
        $(".fbox").on("dragstart", function (e) {
            //e.preventDefault();
            var productId = $(this).find("input[type=hidden]").val();
            var productName = $(this).find("#ProductItem_" + productId)[0].innerText;
            var productPrice = $(this).find("#hover_" + productId)[0].innerText;

            //debugger;

            let obj = { productId: productId, productName: productName, productPrice: productPrice };

            e.dataTransfer = e.originalEvent.dataTransfer;
            e.dataTransfer.setData("text/plain", JSON.stringify(obj));
        });



    })
</script>
